In [18]:
import pandas as pd
import numpy as np
import string
import math
import csv
import re

In [4]:
#data = pd.read_csv('chatting_creat_2.csv', names = ['time', 'id', '#', 'username', '&', 'text'])
data = pd.read_csv('chatting_creat_2.csv')
data.shape

(4713, 84)

In [5]:
data_list = data.values.tolist() #데이터 프레임 -> 리스트로 변환

In [6]:
data_string = [] 
for idx, data in enumerate(data_list):
    drop_nan = [x for x in data_list[idx] if pd.isnull(x) == False and x != 'nan'] #리스트 중 nan제거
    data_join = (' '.join(drop_nan)) #리스트를 string으로 변환
    data_string.append(data_join)

In [66]:
sametime_chat = []
for idx, data in enumerate(data_string):
    time = data[:14] #time 
    sub_data = data[15:] #time 제외한 string
    
    split = re.split('[*]', sub_data) #*기준으로 split(동일한 시간에 입력된 채팅이 있는 경우 분리)

    for idx, string in enumerate(split):
        sub_list = []
        sub_list.append(time) 
        sub_list = sub_list + re.split('[#&]',string) #'#'이나'&'를 기준으로 split(id, name, chat 분리) -> 채팅에 #이나 &이 있는 경우 나뉘어 들어감 ㅠㅠ 
        sametime_chat.append(sub_list)

In [67]:
df = pd.DataFrame(sametime_chat, columns = ['Time', 'Chat_id', 'Name', 'Chat', 'Chat_2'])

In [68]:
df

,Time,Chat_id,Name,Chat,Chat_2
0,12/31 21:43:53,42806a63-9bbb-4f66-a43c-4968f0407e4a,식데렐라,읽을 지는 모르겠지만 우여곡절이었ㄷ던,None
1,12/31 21:43:35,3651826d-3ba8-40c0-b339-d3b028be41d3,LazyPanda,best 2 hours of 2021,None
2,12/31 21:43:15,3dd78978-3307-44fb-aff7-f4fa214be7a3,청순보미,앵콩,None
3,12/31 21:43:11,85937055-7d2c-4881-9c37-bc6e073bc6d3,무라여신,가지마제발,None
4,12/31 21:43:07,85937055-7d2c-4881-9c37-bc6e073bc6d3,무라여신,가지마요,None
...,...,...,...,...,...
6981,12/31 18:00:25,10bc5cd3-a296-4a23-bb74-8d660e7d4767,세진,냐,None
6982,12/31 18:00:21,02cded4d-6886-41eb-b53d-a25ba293411d,몽키빠나나,1등,None
6983,12/31 18:00:19,67b28a9c-1dd6-4aff-a797-35d00590a1ac,전판다,0,None
6984,12/31 18:00:17,7f7796c4-ea87-491b-bec1-e148fb977193,여름PANDA,안녕하세요,None
6985,12/31 18:00:13,10bc5cd3-a296-4a23-bb74-8d660e7d4767,세진,와!,None

In [69]:
df.to_csv("test.csv", encoding="utf-8-sig")